body{
    background-color: palegoldenrod;
}

.container{
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button{
    width: 300px;
    height: 100px;
    font-size: 35px;
    background-color: palegreen;
}

.modal-container{
    height: 30%;
    width: 40%;
    background-color: seashell;
    border: black solid 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: right;
    display: none;
}

.wrapper{
    width: 100%;
    height: 100%;
}

.close{
    cursor: pointer;
}

.rainbow{
    font-size: 40px;
    display: flex;
    animation: animation infinite 2s linear;
}

@keyframes animation {
    0% {
        color: orange;
    }
    33% {
        color: red;
    }
    66% {
        color: blue;
    }
    100% {
        color: orange;
    }
}

